.tour
  height: 100%
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  &__touch
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 40px
    height: 40px
    background-color: #C1272D
    border-radius: 50%
    border: 3px solid tomato
    cursor: pointer