.hero
  display: flex
  align-items: center
  justify-content: center
  flex-flow: nowrap column
  height: 100%
  background-color: transparent
  background-image: url(./static/images/general/index-bg.jpg)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  &__wrap
    max-width: 80%
    margin: 0 auto
    text-align: center
  &__welcome
    margin-bottom: 10px
    font-size: 28px
    line-height: 34px
    font-weight: normal
    color: #fff
    text-align: center
  &__art
    margin-bottom: 50px
    font-family: $CB
    font-size: 90px
    line-height: 109px
    color: #fff
    text-align: center
    .red
      color: #C1272D
  &__virtual-tour
    display: inline-block
    padding: 20px 10px
    font-size: 18px
    line-height: 22px
    font-family: $IM
    letter-spacing: 0.08em
    font-weight: normal
    color: #1A1A1A
    text-transform: uppercase
    background-color: #fff
    border: 2px solid #fff
    text-align: center
    transition: color .3s linear, border-color .3s linear, background-color .3s linear
    &:hover
      border-color: #fff
      color: #fff
      background-color: rgba(26, 26, 26, .4)