// examples for usage
// @include inlineblock (middle)
// @extend %clearfix

// Sprite
// display: inline-block
// @include sprite($s-profle)

// Function convert px to rem
// font-size: rem(18)

//+retinaPR2
	body
		background: red

//+retinaPR3
	body
		color: blue

//mixin convert pixel to rem
$baseFontSize: 16
@function rem($size: $baseFontSize)
	@return $size / $baseFontSize * 1rem

%clearfix
	*zoom: 1
	&:after,
	&:before
		display: table
		content: ''
	&:after
		clear: both

@mixin inlineblock($valign: top)
	display: inline-block
	vertical-align: $valign

//mixin retina media
@mixin retinaPR2
	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2)
		@content

@mixin retinaPR3
	@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3 / 1), only screen and (min-device-pixel-ratio: 3)
		@content

//mixins for png sprite
@mixin sprite-width($sprite)
	width: nth($sprite, 5)

@mixin sprite-height($sprite)
	height: nth($sprite, 6)

@mixin sprite-position($sprite)
	$sprite-offset-x: nth($sprite, 3)
	$sprite-offset-y: nth($sprite, 4)
	background-position: $sprite-offset-x $sprite-offset-y

@mixin sprite-image($sprite)
	$sprite-image: nth($sprite, 9)
	background-image: url(/img/pngSprite/#{$sprite-image})

@mixin sprite($sprite)
	@include sprite-image($sprite)
	@include sprite-position($sprite)
	@include sprite-width($sprite)
	@include sprite-height($sprite)